/**
 * @file main.c
 * @author Francisco Knebel, Luciano Zancan, Rodrigo Dal Ri
 * @date 11 Dez 2018
 * @brief File containing example of doxygen usage for quick reference.
 */

 #include <stdio.h>

/**
 * @brief adder does this.
 *
 * Detailed explanation.
 */
int adder(int x, int y) {
  return x + y;
}

/**
 * @brief main program.
 *
 * Detailed explanation.
 */
int main() {
  printf("Hello, World!\n.");

  return 0;
}